.main {
    height: 120px;
    background-color: rgba(144, 238, 238, 0.782);
    padding: 10px;
}

.container {
    display: grid;
    margin: auto;
    margin-left: 10%;
    display: flex;
    padding-left: 20%;
}

